/* style*/

h1 {
    font-family: "Sans-serif";
    text-align: center;
    background-color: green;
    color: white;
    font-size: 50px;
}

.main {
    color: blue;
    background-color: pink;
    list-style: square;
    
}

.list {
    font-size: 35px;
    text-align: center;
}